.barre {
    width:100px;
    height:50px;
    line-height: 50px;
    background-color: blue;
    color: white;
    padding-left: 10px;
}

.barre.go {
    width:1500px;
}

#ease {
    transition: 2s width ease 1s;
}

#linear {
    transition: 2s width linear 1s;
}

#ease_in {
    transition: 2s width ease-in 1s;
}

#ease_out {
    transition: 2s width ease-out 1s;
}

#ease_in_out {
    transition: 2s width ease-in-out 1s;
}

#bezier {
    transition: 2s width cubic-bezier(.64,-0.31,.49,1.64) 1s;    
}
